
.navBar__container {
  position: fixed;
  z-index: 10;
  left: -100%;
  bottom: 6em;
  height: 20em;
  width: 15em;
  transition: left 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1.5em;
  background-color: var(--menu-unfolded-color);
}
.navBar__value {
  color: var(--latter-menu-color);
  font-family: var(--paragraph-font);
}
.navBar__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.9em;
}
.navBar__img {
  display: none;
  visibility: hidden;
}
.navBar__container-icons {
  background-color: var(--menu-color);
  color: var(--latter-menu-color);
  position: fixed;
  bottom: 0;
  height: 6em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: var(--title-font);
  z-index: 2;
}
.navBar__iso {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar__iso-img {
  width: 4em;
  padding-left: 0.7em;
}
.navBar__icon-mobile {
  padding: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.navBar__darkMode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.navBar__img-Languaje{
  width: 3em;
}
.navBar__grid {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.1em;
}
.MenuOn {
  position: fixed;
  z-index: 2;
  left: 0;
}

@media screen and (min-width: 1000px) {
  .navBar__container {
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding-top: 5em;
    width: 17em;
  }
  .navBar__grid {
    display: none;
    visibility: hidden;
  }
  .navBar__iso-img {
    display: none;
    visibility: hidden;
  }
  .navBar__container-icons {
    width: 17em; 
  }
  .navBar__darkMode {
    position: relative;
    left: -1.5em;
  }
  .navBar__icon-mobile {
    position: relative;
    right: -1.5em;
  }
  .navBar__img {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;   
    height: 10em;
    width: 10em;
  }  
  .navBar__logo {
    width: 7em;
  }
  .navBar__list {
    align-self: self-start;
    display: flex;
    gap: 2em;
  }
  .navBar__value {
    font-size: 1.1rem;
    font-weight: 500;
  }
}