.header {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  bottom: -1px;
  z-index: 3;
  background: url("/img/bg-mobile/bg-red-mb.png");
  background-position: top;
  background-size: cover;
  background-repeat: repeat;
}
.header__logo {
  width: 5rem;
}
.header__nav {
  position: fixed;
  bottom: calc(5rem - 2px);
  right: -100%;
  background: url("/img/bg-mobile/bg-red-mb.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: repeat;
  width: 20rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 9rem;
  z-index: 0;
  transition: right 0.6s ease-in-out;
}
.nav__on {
  right: 0;
}

.nav__list {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav__item {
  width: 12rem;
  text-align: right;
  margin: 1rem;
  border-bottom: 1px solid white;
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
}
.header--sticky {
  backdrop-filter: blur(10px);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 3;
    background: none;
    transition: backdrop-filter 0.5s ease-in-out;
  }
  .header > a {
    width: 5rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__logo {
    width: 5rem;
  }
  .header__nav {
    position: static;
    top: 0;
    right: 0;
    background: none;
    width: 80%;
    height: 5rem;
    border-radius: 0;
    z-index: 3;
  }
  .nav__list {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 1rem;
  }
  .nav__item {
    width: max-content;
    padding: 0;
    padding-bottom: 0.3rem;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .nav__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .nav__item:hover::before {
    left: 0;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .header {
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 3;
    background: none;
    transition: backdrop-filter 0.5s ease-in-out;
  }
  .header > a {
    width: 5rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__logo {
    width: 5rem;
  }
  .header__nav {
    position: static;
    top: 0;
    right: 0;
    background: none;
    width: max-content;
    height: 5rem;
    border-radius: 0;
    z-index: 3;
  }
  .nav__list {
    width: max-content;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 1rem;
  }
  .nav__item {
    width: max-content;
    padding: 0;
    padding-bottom: 0.3rem;
    text-align: center;
    margin: 0 2rem;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .nav__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .nav__item:hover::before {
    left: 0;
    width: 100%;
  }
}
